
*{
    
    padding: 0;
    margin: 0;
    /* border: solid 1px #000000; */ /* poner bordes para ver cuadricula */
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#pagina{
    background-image: url(../img/fondo.png);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
}

header #encabezado{
    padding: 50px 50px;
}

header #encabezado ul{
    margin: 10;
    padding: 0;
}

header #encabezado ul li{
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
}

header #encabezado ul li a{
    display: inline-block;
}

header #encabezado ul li a{
    color: rgb(255, 255, 255);
    margin-left: 100px;
    margin-right: 100px;
}

header #encabezado ul li a:hover{
    text-decoration: underline;
}

header #encabezado ul li h1{
    margin-left: 200px;
    margin-right: 200px;
}

header #encabezado ul button{
    background: #246ee6;
    border: 0;
    border-radius:  3px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    padding: 20px 25px;
    margin: 40px 0;
}

header #encabezado ul button:hover{
    background: #14929b;
}




